.experience_container {
    display: grid;
    width: 90%;
    gap: 2rem;
    height: 90%;
}

.experience_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.experience_card {
    border: 3px solid transparent;
    background: var(--color-bg-variant);
    border-radius: 1rem;
    text-align: center;
    width: 70%;
    height: 80%;

}

.experience_card-img {
    margin: 0.5rem auto;
    width: 60%;
    min-width: auto;
    display: block;
    border-radius: 0.8rem;

}

.experience_card:hover {
    background: linear-gradient(to bottom, blue, #fff);
    border-color: var(--color-primary-variant);
    cursor: defaul;
    color: rgb(3, 3, 29);


}


.experience_icon {
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.experience_card h5 {
    padding: 1rem;
}

.experience_card small {
    font-size: 0.7rem;
    color: var(--color-light);

}

.experience_card p {
    text-align: justify;
    padding: 1rem;
    margin-top: 0.5rem;
}

/*===================queries*/
@media screen and (max-width: 1040px) {
    .experience_container {

        gap: 0;


    }

    .experience_card {
        width: 100%;
        height: 70%;
    }

}

@media screen and (max-width:600px) {

    .experience_cards {
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
        align-content: center;
        font-size: 0.8rem;
    }

    .experience_content {
        text-align: center;
    }

    .experience_card {
        width: 70%;
        height: 100%;
    }


}