.experience_container {
    display: grid;
    width: 90%;
    gap: 2rem;
}

.experience_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.experience_card {
    border: 3px solid transparent;
    border-radius: 1rem;
    text-align: center;
   
}

.experience_card-img {
    margin: 0 auto;
    width: 60%;
    min-width: auto;
    display: block;
    border-radius: 0.8rem;
    height: 88%;
}

.experience_card:hover {
    background: linear-gradient(to bottom, blue, #fff);
    border-color: var(--color-primary-variant);
    cursor: defaul;
}

.experience_icon {
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.experience_card h5 {
    font-size: 0.9rem;

}

.experience_card small {
    font-size: 0.7rem;
    color: var(--color-light);

}

/*===================queries*/
@media screen and (max-width: 1040px) {
    .experience_container {
        grid-template-columns: 1fr;
        gap: 0;
      

    }

}

@media screen and (max-width:600px) {

    .experience_cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .experience_content {
        text-align: center;
    }

}