header {
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
    width: 100%;
}

.container.header_container {
    text-align: center;
    height: 100%;
    /* position:relative; */
}

/*================*/
.cv {
    margin: .5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;

}


/*=============0*/
.header_socials {

    margin-top: 0.5rem;
    display: flex;
    left: 2rem;
    bottom: 3rem;
    gap: 1rem;
    justify-content: center;
}


.header_socials::after {

    width: 1px;
    height: 2px;
    background: var(--color-primary);
}

.header_social-icon {
    width: 3rem;
    height: 4rem;
    padding: 0.5rem;
}

.header__me {
    width: 100%;
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: lenear-gradient(45deg,
            transparent,
            var(--color-primary),
            transparent);
    display: grid;
    place-items: center;
    justify-items: center;
    align-items: start;
    justify-content: center;
}

.header__me img {
    border-radius: 2rem;
    /* overflow: hidden; */
    transform: rotate(10deg);
    transition: var(--transition);
    width: 55%;
    height: 72%;

}

.header_home {
    display: grid;
    align-items: center;
    justify-content: space-around;
}

.header__me img:hover {
    transform: rotate(0)
}

/*=============*/
.me {
    align-items: center;
    margin-left: 2rem;
    ;
}

.me {
    margin-top: 2rem;
    background: linear-gradient(55deg, var(--color-primary), #08547800);
    width: 18rem;
    height: 20rem;
    position: absolute;
    border-radius: 12px;
    justify-content: center;

}

/*=============*/
.scroll_down {
    bottom: 5rem;
    transition: rotate(50deg);
    font-size: 0.9 rem;

}


/*============*/
@media screen and (max-width: 1500px) {
    .header__me {
        grid-template-columns: repeat(2, 1fr);
    }

    .text-light {
        font-size: 1.5rem;
        margin: auto;
    }

    .header__me img {
        background: red;
        width: 100%x;
        height: 90%;
    }

}

@media screen and (max-width: 600px) {
    .scroll_down {
        display: none;
    }

    .header__me img {

        width: 50%;
        height: 80%;

    }

    .header__me {
        grid-template-columns: 1fr;
    }


}