* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#skills h2 {
    margin-top: 4rem;

}

.slider {
    position: relative;
    width: 10rem;
    /* Ancho del contenedor principal */
    height: 10rem;
    /* Altura del contenedor principal */
    transform-style: preserve-3d;
    animation: animate 15s linear infinite;
    transform: translateY(30px) scale(1.2);
    cursor: pointer;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    border-radius: 1.25rem;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(25rem);
    backface-visibility: hidden;
    max-width: 100%;
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 3s;
    transform: translateZ(1px);
}



.slider span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(14rem);
}

.slider span img {
    transition: 1s;
}


@media screen and (max-width: 1900px) {
    .slider {
        width: 10rem;
        height: 10rem;
        transform: translateY(15px) scale(1);
    }

    .slider span {
        transform: rotateY(calc(var(--i) * 55deg)) translateZ(25rem);
        top: 1rem;
    }

    .slider span img {
        transition: 1s;
    }

    .skill_avatar {
        width: 30%;
        margin: 0 auto;

    }
}

@media screen and (max-width:900px) {
    .slider {
        width: 5rem;
        height: 5rem;
        transform: translateY(15px) scale(1);
    }

    .slider span {
        transform: rotateY(calc(var(--i) * 55deg)) translateZ(18rem);
        top: 1rem;
    }

    .slider span img {
        transition: 1s;
    }

    .skill_avatar {
        width: 60%;
        margin: 0 auto;

    }
}

@media screen and (max-width: 600px) {
    .slider {
        width: 5rem;
        height: 5rem;
        transform: translateY(10px) scale(0.8);
    }

    .slider span {
        transform: rotateY(calc(var(--i) * 55deg)) translateZ(15rem);
    }

    .slider span img {
        transition: 0.5s;
    }

    .skill_avatar {
        width: 75%;
        margin: 0 auto;

    }
}

@media screen and (max-width: 490px) {
    .slider {
        margin-top: 4rem;
        width: 5rem;
        height: 5rem;
        transform: translateY(5px) scale(0.6);
    }

    .slider span {
        transform: rotateY(calc(var(--i) * 55deg)) translateZ(9.3rem);
    }

    .slider span img {
        transition: 0.3s;
    }

    .skill_avatar {
        width: 60%;
        margin: 0 auto;
        margin-top: 5rem;

    }
}